.btn {
  border: 0;
  position: relative;
  border-radius: 0;
  padding: 6px 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
  z-index: 5;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &::before {
    content: '';
    transform: skewX(-20deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
  }
}

.btn-sm {
  padding: 4px 8px;
  font-size: 14px;
}

.btn-lg {
  padding: 10px 16px 9px;
  font-size: 18px;
}

.btn-xl {
  padding: 15px 20px;
  font-size: 20px;
}

.btn-link {
  color: $primary;
}

.btn-primary {
  background: transparent;

  &::before {
    background: $primary;
  }

  &:hover,
  &:focus {
    background: transparent;

    &::before {
      background: #802820;
    }
  }
}

.btn-white-border {
  background: transparent;
  color: #fff;

  &::before {
    border: 2px solid #fff;
    background: transparent;
  }

  &:hover,
  &:focus {
    background: transparent;

    &::before {
      background: #802820;
      border-color: #fff;
    }
  }

  &--lg {
    &::before {
      border: 3px solid #fff;
    }
  }

  &--xl {
    &::before {
      border: 3px solid #fff;
    }
  }
}

.btn-dark-border {
  background: transparent;
  color: #000;

  &::before {
    border: 2px solid #000;
    background: transparent;
  }

  &:hover,
  &:focus {
    background: transparent;
    color: #fff;

    &::before {
      background: #802820;
      border-color: #000;
    }
  }

  &--lg {
    &::before {
      border: 3px solid #000;
    }
  }

  &--xl {
    &::before {
      border: 3px solid #000;
    }
  }
}

.btn-primary-border {
  background: transparent;
  color: $primary;

  &::before {
    border: 2px solid $primary;
    background: transparent;
  }

  &:hover,
  &:focus {
    background: transparent;
    color: #fff;

    &::before {
      background: #802820;
      border-color: $primary;
    }
  }

  &--lg {
    &::before {
      border: 3px solid $primary;
    }
  }

  &--xl {
    &::before {
      border: 3px solid $primary;
    }
  }
}
