/*---------- .header *****Block ----------*/

.header {
  @include media-breakpoint-up(md) {
    padding: 15px;
  }

  @include media-breakpoint-up-xxxl {
    padding: 0;
  }

  /*---------- .header ****Elements ----------*/

  &__top {
    display: none;

    @include media-breakpoint-up(md) {
      @include display-flex(row, space-between);
    }

    @include media-breakpoint-up-xxxl {
      background-color: #352d5c;
      justify-content: flex-end;
      padding: 0 40px;
    }
  }

  &__logo {
    &>a {
      display: inline-block;

      &>img {
        @include media-breakpoint-up(md) {
          max-width: 200px;
        }

        @include media-breakpoint-up(lg) {
          max-width: 300px;
        }

        @include media-breakpoint-up(xl) {
          max-width: 400px;
        }
      }
    }

    &--visible-xxxl {
      display: none;

      @include media-breakpoint-up-xxxl {
        display: block;
        position: absolute;
        bottom: 0;
        left: 40px;
      }
    }

    &--hidden-xxxl {
      @include media-breakpoint-up-xxxl {
        display: none;
      }
    }
  }

  &__main {
    @include media-breakpoint-up-xxxl {
      position: relative;
      @include display-flex(row, flex-end);
      padding: 35px 40px;
    }
  }

  &__cta {
    @include media-breakpoint-up(md) {
      @include display-flex(row, center, stretch);
    }

    &-separator {
      @include media-breakpoint-up(md) {
        margin: 7.5px;
      }

      @include media-breakpoint-up(xl) {
        margin: 15px;
      }
    }

    &--visible-xxxl {
      display: none;

      @include media-breakpoint-up-xxxl {
        @include display-flex(row, center, stretch);
      }
    }
  }

  &__contact-phone {
    @include media-breakpoint-up(md) {
      @include display-flex();
      font-family: 'Montserrat', sans-serif;
      font-size: 17px;
      font-weight: 600;
      color: #362e5d;
    }

    @include media-breakpoint-up-xxxl {
      color: #fff;
    }

    &>img {
      height: 20px;
      margin-right: 10px;
    }

    &>a {
      margin-left: 5px;
      color: #362e5d;

      @include media-breakpoint-up-xxxl {
        color: #fff;
      }
    }
  }

  &__shopping-cart {
    @include display-flex();
    background-color: #bd3a46;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    @include media-breakpoint-up-xxxl {
      position: relative;
    }

    &::after {
      @include media-breakpoint-up-xxxl {
        content: '';
        width: 100%;
        height: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #bd3a46;
        z-index: 5;
      }
    }

    &>img {
      height: 30px;
      margin-right: 5px;
    }

    &>span {
      display: inline-block;
    }
  }
}

/* if header is white background include border-bottom on inner pages' header,
  separator for inner pages' header and .content-wrapper
  DELETE if header has a background */
body:not(.home-page) .header {
  border-bottom: 1px solid $primary;
}
