/*---------- .main-navigation *****Block ----------*/

.main-navigation {
  @include media-breakpoint-up(md) {
    margin: 20px 0 0;
  }

  @include media-breakpoint-up-xxxl {
    margin: 0;
  }

  /*---------- .main-navigation ****Elements ----------*/

  .navbar-header {
    padding: 12px;

    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }

  .navbar-collapse {
    background-color: #3a3d72;

    @include media-breakpoint-up(md) {
      background-color: transparent;
      margin: 0;
    }
  }

  .navbar-nav {
    @include media-breakpoint-up(md) {
      margin: 0 -5px;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 -7.5px;
    }

    @include media-breakpoint-up(xl) {
      margin: 0 -10px;
    }
  }

  .navbar-nav>li {
    @include media-breakpoint-up(md) {
      margin: 0 5px;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 7.5px;
    }

    @include media-breakpoint-up(xl) {
      margin: 0 10px;
    }
  }

  .navbar-nav>li.nav-separator {
    display: none;
  }

  .navbar-nav>li>a,
  .navbar-nav>li.active>a {
    padding: 11px 12px 11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
    transition: background-color .3s;

    &:hover,
    &:focus {
      background-color: #bd3a46;
      text-decoration: none;
      color: #fff !important;
    }

    @include media-breakpoint-up(md) {
      padding: 0 !important;
      font-size: 14px;
      color: #362e5d !important;
      transform: translate3d(0, 0, 0);
      transition: box-shadow .3s;

      &:hover,
      &:focus {
        box-shadow: 0 2px 0 0 $primary;
        background: transparent;
        color: #362e5d !important;
      }
    }

    @include media-breakpoint-up(lg) {
      font-size: 18px;

      &:hover,
      &:focus {
        box-shadow: 0 4px 0 0 $primary;
      }
    }

    @include media-breakpoint-up(xl) {
      font-size: 20px;

      &:hover,
      &:focus {
        box-shadow: 0 6px 0 0 $primary;
      }
    }
  }

  .nav-menu-title {
    max-width: 200px;
  }

  .navbar-toggler {
    border: 0;
    border-radius: 0;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: #3a3d72;
    }
  }

  .navbar-toggler>.navbar-toggler-icon {
    background-color: transparent;
  }

  .navbar-toggler:focus>.navbar-toggler-icon,
  .navbar-toggler:hover>.navbar-toggler-icon {
    background-color: transparent;
  }

  &__mobile-logo {
    @include display-flex(row, flex-start);
  }

  &__mobile-cta {
    @include display-flex(row, flex-end);
  }

  &__mobile-logo,
  &__mobile-cta {
    margin: -7.5px !important;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__mobile-logo>button,
  &__mobile-logo>div.nav-menu-title {
    margin: 7.5px !important;
  }

  &__mobile-cta>a {
    margin: 7.5px;

    &>img {
      max-height: 20px;

      @media only screen and (min-width: 375px) {
        max-height: 30px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar-light .navbar-nav .mobile-dropdown-toggle {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }

  .navbar-light .navbar-nav .dropdown-menu {
    border: 0;
    background-color: transparent;
    padding: 0 0 0 15px !important;
  }

  .navbar-light .navbar-nav .dropdown-menu .nav-link {
    padding: 12px 12px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .navbar-light .navbar-nav .dropdown-menu .nav-link::after {
    content: normal;
    display: none;
  }

  .navbar-light .navbar-nav>li.show>a,
  .navbar-light .navbar-nav>li.show>a:focus,
  .navbar-light .navbar-nav>li.show>a:hover,
  .navbar-light .navbar-nav>li.show ul.dropdown-menu>li>a,
  .navbar-light .navbar-nav>li.show ul.dropdown-menu>li>a:hover,
  .navbar-light .navbar-nav>li.show ul.dropdown-menu>li>a:focus,
  .navbar-light .navbar-nav>li.show ul.dropdown-menu>li.show>a,
  .navbar-light .navbar-nav>li.show ul.dropdown-menu>li.show>a:focus,
  .navbar-light .navbar-nav>li.show ul.dropdown-menu>li.show>a:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
  }

  .navbar-light .navbar-nav>li.show>a:focus,
  .navbar-light .navbar-nav>li.show>a:hover {
    background-color: #bd3a46;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
  }
}
